@font-face {
  font-family: a;
  src: url(/Horison.ttf);
}

@font-face {
  font-family: p;
  src: url(./Inter-Light.ttf);
}

:root {
  --heading-color: #000000cb;
  --padding: 1vw 1.9vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  position: relative;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #ededed;
  font-size: 1.4vw;
  font-weight: 500;
}

a:hover {
  color: rgba(255, 255, 255, 0.566);
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 2vw 7vw;
  background-color: #3b5d50;
  font-family: a;
  font-weight: 999;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navl {
  gap: 22px;
  display: flex;
}

.navb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 15px;
  border: 1px solid #a19696;
  border-radius: 50%;
}

.navb i {
  color: #a19696;
  position: relative;
  /* overflow: hidden; */
}

.navb a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 2;
}

.navri {
  display: flex;
  gap: 22px;
}

.page1 {
  width: 100%;
  height: 67vh;
  background-color: #3b5d50;
  padding: 2vw 7vw;
  display: flex;
  justify-content: center;
  /* align-items: end  ; */
  margin-top: 6vw;
}

.left-content {
  /* height: 100%; */
  width: 35vw;
  color: #ededed;

  /* background-color: rebeccapurple; */
  padding: 1vw;
}

.left-content h1 {
  font-size: 3vw;
  font-family: a;
  margin-top: 4vw;
  /* background-color: red; */
  width: 21vw;
}

.left-content p {
  font-size: 1.2vw;
  margin-top: 1vw;
}

.btn-container {
  margin-top: 3vw;
  display: flex;
  gap: 30px;
}

.left-content button {
  padding: 1vw 1.9vw;
  border: none;
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;

  color: #3b5d50;
}

.page1 .shopnow {
  /* background-color: #f9bf29; */
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  /* color: black;   */
}

.page1 .shopnow::after {
  content: "  ";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: -120%;
  /* border-top: 1px solid black; */
  background-color: rgba(255, 0, 0, 0.893);

  /* z-index: 2; */
  transition: 0.3s linear;
}

.page1 .shopnow:hover::after {
  left: 0;
  color: #000;
}

.page1 .right-content {
  width: 65vw;
  height: 100%;
  display: flex;
  justify-content: end;
}

.page1 .right-content img {
  position: relative;
  z-index: 2;
}

.page1 .right-content::after {
  content: "";
  width: 217px;
  height: 190px;
  position: absolute;
  right: 20px;
  top: 150px;
  background-image: url(./images/dots-light.svg);
  /* z-index: 9; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.page2 {
  width: 100%;
  height: 80vh;
  position: relative;
  padding: 2vw 7vw;
}

.page2 .card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 550px;
  /* background-color: red; */
}

.page2 .card-container .content {
  width: 300px;
  /* height: 100%; */
}

.page2 .card-container .content h1 {
  font-size: 34px;
  text-transform: capitalize;
  font-family: p;
  margin-bottom: 0.5vw;
  color: #000000cb;
}

.page2 .card-container .content p {
  font-size: 1.3vw;
  margin-bottom: 1vw;
  font-family: p;
  color: #000000ad;
}
.page2 .card-container button {
  padding: 1vw 1.9vw;
  border: none;
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
  background-color: #000000ee;
  color: #ffffff;
}

.page2 .card-container .card {
  width: 280px;
  height: 310px;
  /* background-color: red; */
  position: relative;
  border-radius: 20px;
  /* overflow: hidden; */
  cursor: pointer;
}
.page2 .card-container .card img {
  width: 300px;
  position: absolute;
  top: -20%;
  object-fit: cover;
  object-position: center;
  transition: 0.2s linear;
  z-index: 2;
}

.page2 .card-container .card:hover img {
  top: -30%;
}

.page2 .card-container .card p {
  position: absolute;
  bottom: 10%;
  z-index: 2;
  left: 30%;
  font-size: 1.1vw;
  text-transform: capitalize;
  font-weight: 900;
  color: #000000ca;
  line-height: 1.3;
  letter-spacing: -1.5px;
  font-family: p;
}

.page2 .card-container .card i {
  position: absolute;
  bottom: 0%;
  left: 40%;
  font-size: 2vw;
  opacity: 0;
  transition: 0.1s linear;
  font-weight: 1;
  z-index: 2;
}

.page2 .card-container .card:hover i {
  opacity: 1;
  bottom: -5%;
}

.page2 .card-container .card::after {
  content: "";
  position: absolute;
  height: 0;
  background-color: #dce5e4d2;
  width: 100%;
  bottom: 0;
  transition: 0.3s linear;
  border-radius: 10px;
}

.page2 .card-container .card:hover::after {
  height: 100%;
}

.page3 {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 2vw 7vw;
}

.page3 .left {
  width: 65%;
  height: 100%;
  position: relative;
  /* background-color: red; */
}

.page3 .left h1 {
  font-family: p;
}

.page3 .left p {
  color: var(--heading-color);
  font-family: p;
  font-size: 1.3vw;
  width: 79%;
}

.page3 .left .content-container {
  /* margin: 0 auto; */
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2vw;
  justify-content: space-between;
  align-items: center;
}

.page3 .left .content-container .content {
  width: 49%;
  height: 200px;
}
.page3 .left .content-container .content .p {
  color: #000;
  text-transform: capitalize;
  width: 100%;
}

.page3 .left .content-container .content .ccc {
  font-size: 17px;
  font-family: p;
  margin-top: 1vw;
  width: 100%;
}

.page3 .left .content-container .content .icon {
  width: 40px;
  position: relative;
}

.page3 .right {
  width: 45%;
  height: 80%;
  position: relative;
}

.page3 .right::after {
  content: "";
  position: absolute;
  background-image: url(./images/dots-yellow.svg);
  width: 100%;
  height: 100%;
  top: -15%;
  left: -15%;
  background-repeat: no-repeat;
  z-index: -1;
}

.page3 .right img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
}

.page4 {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: var(--padding);
  display: flex;
  justify-content: space-between;
}

.page4 .left {
  width: 50%;
  margin-left: 5vw;
  display: flex;
  /* justify-content: space-between; */
  /* padding: var(--padding); */
  /* background-color: red; */
  border-radius: 20px;
  gap: 10px;
}

.page4 .left::after {
  content: "";
  position: absolute;
  background-image: url(./images/dots-green.svg);
  width: 100%;
  height: 100%;
  top: -10%;
  left: -1%;
  background-repeat: no-repeat;
  z-index: -1;
}

.page4 img {
  border-radius: 20px;
}

.page4 .left .first {
  width: 55%;
  height: 80%;
}
.page4 .left .second {
  width: 35%;
  height: 30%;
}

.third {
  position: absolute;
  top: 32%;
  left: 29%;
  width: 350px;
}

.page4 .right {
  width: 43%;
  position: relative;
}

.page4 .right h1,
p {
  font-family: p;
}
.page4 .right p {
  font-size: 1.2vw;
  margin-top: 1vw;
}
.page4 ul {
  display: flex;
  justify-content: space-between;
  margin-top: 1vw;
  flex-wrap: wrap;

  list-style-type: circle;
}

.page4 .right ul li {
  width: 48%;
  font-family: p;
}

.page4 .right ul li::marker {
  font-size: 26px;
}

.page5 {
  width: 100%;
  height: 65vh;
  position: relative;
}

.page5 h3 {
  font-size: 3vw;
  font-family: p;
  text-align: center;
  margin-top: 7vw;
}

.page5 .swiper {
  width: 100%;

  margin-top: 2vw;
  /* background-color: rgb(151, 17, 17); */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #e70202; */
  background-color: #eff2f1;
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 5vw 20vw;
  flex-wrap: wrap;
}

.page5 p {
  font-family: p;
}

.swiper-slide img {
  display: block;
  margin: 0 auto;
  margin-top: 5vw;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.swiper-slide h4 {
  font-size: 1.2vw;
  margin-top: 10px;
  display: block;
  font-family: p;
}

.blog {
  width: 100%;
  height: 90vh;
  position: relative;
  background-color: #eff2f1;
  padding: var(--padding);
}

.blog h1 {
  display: inline-block;
  font-family: p;
  margin-top: 6vw;
  margin-left: 4vw;
}

.blog a h2 {
  color: #000;
  display: inline-block;
  text-align: end;
  width: 74vw;
  font-size: 1.3vw;
  text-decoration: underline;
}

.blg-container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3vw;
  padding: 2vw 3vw;
}

.elem {
  width: 400px;
  height: 310px;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}

.elem img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
  /* transition: 0.3s linear; */
  cursor: pointer;
  filter: grayscale(100%);
}

.elem:hover img {
  scale: 1.1;
  border-radius: 10px;
  filter: grayscale(0);
}

.elem h5 {
  font-family: p;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.2s linear;
}

.elem:hover h5 {
  opacity: 1;
}

.elem h5 span {
  color: #0000009b;
}

.footer {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #ffffff;
  padding: var(--padding);
}

.first-line {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.massage {
  width: 40vw;
  /* background-color: red; */
}

.massage > h1 {
  font-family: p;
  font-size: 1.5vw;
  display: flex;
  align-items: center;
  padding: 0.2vw 1vw;
  color: #000000b0;

  margin-top: 4vw;
  margin-left: 1vw;
}

.massage > h1 img {
  scale: 1.2;
  margin-right: 1vw;
}

.input {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 0.5vw;
}

.snd {
  display: flex;
  justify-content: center;
  align-items: centere;
  margin-left: 2vw;
  padding: 0.7vw 1.4vw;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #314d43;
  cursor: pointer;
}

.snd i {
  font-size: 1.8vw;
  color: #ffffff;
}

.input input {
  padding: 1vw 1.5vw;
  border-radius: 10px;
  text-transform: capitalize;
  border: 1px solid rgba(0, 0, 0, 0.502);
}

.sofa {
  /* position: absolute; */
  /* bottom: 1%;
  right: 10%; */
  width: 23vw;
}

.ftr-hed {
  font-family: p;
  margin-left: 1.5vw;
  margin-top: 1vw;
  font-size: 1.9vw;
  position: relative;
  display: inline-block;
}

.ftr-hed::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  bottom: 0;
  left: 0px;
  background-color: #314d43;
}

.second-line {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* align-items: center; */
}

.social-media {
  display: flex;
  width: 20%;
  flex-direction: column;
  margin-left: 1.2vw;
  margin-top: 1vw;
}

.paraftr {
  font-family: p;
}

.paraftr span {
  color: red;
  font-weight: 999;
  text-transform: capitalize;
  border-bottom: 1px solid black;
}

.social-icons {
  display: flex;
  font-size: 1.6vw;
  margin-top: 1.3vw;
  color: #314d43;
  gap: 11px;
}

.social-icons i {
  padding: 1.7vw;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eff2f1;
  border-radius: 50%;
  transition: 0.2s linear;
  cursor: pointer;
}

.social-icons i:hover {
  color: #eff2f1;
  background-color: #3b5d50;
}

.section {
  display: flex;
  flex-direction: column;
  width: 16%;
  margin-top: 1vw;
  gap: 15px;
  /* background-color: red; */
}

.social-media {
  margin-left: 2vw;
}

.section a {
  display: inline-block;
  color: #000;
  font-family: p;
  font-size: 1.1vw;
  text-transform: capitalize;
  position: relative;
  overflow: hidden;
}

.section a::before {
  width: 20%;
  height: 2px;

  position: absolute;
  bottom: 0;
  left: -100%;
  content: "";
  background-color: rebeccapurple;
  transition: 0.5s linear;
}

.section a:hover::before {
  left: 0;
  color: #3b5d5098;
}

.ccc{
  text-align: center;
  margin-top: 5vw;
}

@media (max-width: 1000px) {
  .nav {
    padding: 1.5rem 2rem;
    /* background-color: red; */
  }

  a {
    font-size: 18px;
  }
}
